@import 'tailwindcss';
@import './prose.css';

/* Общие стили для кнопок */

@theme {
  --color-primary: #fd213a;
  --color-current: currentcolor;
  --font-sans: 'Exo 2', sans-serif;
}

html {
  scroll-behavior: smooth;
  background: #000;
}

::selection {
  color: #000;
  background-color: #fff;
}

.section {
  @apply relative m-auto w-full py-20 xl:py-30;
}

/* Button Styles */

.btn {
  @apply inline-flex items-center justify-center gap-2 md:px-5 md:py-3;
  @apply px-4 py-2;
  @apply text-sm text-white transition;
  @apply rounded-2xl rounded-tr-lg rounded-bl-lg;
  @apply shadow-primary/50 shadow-2xl;

  --tw-shadow: 0 5px 50px -12px var(--tw-shadow-color, rgb(0 0 0 / 25%));

  background: #0009;
  cursor: pointer;
  backdrop-filter: blur(2px);
}

.btn-sm {
  @apply gap-1.5 px-4 py-2 text-xs;
}

.btn:hover {
  @apply shadow-primary/80 border-transparent bg-white/20;
}

.btn .text {
  @apply opacity-75 transition-opacity;
}

.btn .icon {
  @apply transition-transform;
}

.btn:hover .text {
  @apply opacity-100;
}

.btn:hover .icon {
  @apply scale-125;
}

.btn-primary {
  @apply bg-primary hover:bg-black;
}

.btn-outline {
  @apply bg-white/5 ring-1 ring-white/10;
}

.btn-square {
  @apply aspect-square p-3;
}

.btn-square .icon {
  @apply text-xl;
}

/* Card Styles */

.card {
  background: #000b;
  border-radius: 30px 10px;
  backdrop-filter: blur(2px);

  @apply shadow-primary/5 overflow-hidden p-6 shadow-2xl md:p-8;
}

.card .-m {
  @apply -m-8;
}

.card-sm {
  @apply space-y-2 p-4 text-xs md:p-6 md:text-sm;
}

.card-sm .-m {
  @apply -m-6;
}

.card-lg {
  @apply p-8;
}

.card-lg .-m {
  @apply -m-8;
}

.card-xl {
  @apply p-4 md:p-12;
}

.card-xl .-m {
  @apply -m-12;
}

.card-p-0 {
  @apply p-0;
}

/* tags */

.tags {
  @apply flex flex-wrap gap-2;
}

.tag {
  @apply relative px-3 py-1 text-xs;
  @apply bg-white/5 ring-1 ring-white/10 transition;

  border-radius: 12px 6px;
}

.tag.--active {
  @apply bg-white/10 ring-3;
}

.tag.--dark {
  @apply bg-black/30 ring-1;
}

a.tag {
  @apply hover:bg-white/20;
}
