@import 'tailwindcss';
@import './prose.css';

/* Общие стили для кнопок */

@theme {
  --color-primary: #fd213a;
  --font-sans: 'Exo 2', sans-serif;
}

.theme-2 {
  --color-primary: #fc8200;
}

.theme-3 {
  --color-primary: #efcb00;
}

.theme-4 {
  --color-primary: #7fcd00;
}

.theme-5 {
  --color-primary: #2c81ff;
}

.theme-6 {
  --color-primary: #ab4eff;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #000;
  background-color: #fff;
}

.btn {
  @apply rounded-3xl rounded-tr-xs rounded-bl-xs px-6 py-2 text-white transition-colors duration-300;
}

.btn-primary {
  @apply bg-primary hover:bg-black;
}

.btn-outline {
  @apply border-primary text-primary border-2 hover:border-white hover:text-white;
}
